.parish-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--parish-bg-lightest);
}

.parish-404 > h1 {
  font-weight: 600;
  font-size: 38px;
  color: var(--parish-text-darkest);
}

.parish-404 > h2 {
  font-weight: 500;
  font-size: 22px;
  color: var(--parish-text-darkest);
}

.parish-404 > a {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(47, 47, 47);
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  color: var(--parish-text-dark);
}
