.parish-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(245, 245, 245);
  color: rgb(27, 27, 27);
}

.parish-404 > h1 {
  font-weight: 600;
  font-size: 38px;
}

.parish-404 > h2 {
  font-weight: 500;
  font-size: 22px;
}

.parish-404 > a {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(47, 47, 47);
  text-decoration: underline;
  text-decoration-color: rgba(125, 211, 252, 0.85);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
