.parish-archive > header {
  background-color: rgb(250, 250, 250);
  padding: 48px 24px;
}

.parish-archive > header > h1 {
  color: rgb(38, 38, 38);
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.parish-archive > section {
  padding: 24px;
  background-color: rgb(234, 234, 234);
}

.parish-archive-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.parish-archive-card,
.parish-archive-no-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  background-color: rgba(38, 38, 38);
  border-bottom: solid 2px rgba(125, 211, 252);
  border-radius: 1px;
}

.parish-archive-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parish-archive-no-posts {
  text-align: center;
}

.parish-archive-card-content > span {
  color: rgba(204, 204, 204);
}

.parish-archive-card-content > h2,
.parish-archive-no-posts > p {
  color: rgba(234, 234, 234);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.parish-archive-card-content > h2 {
  margin-top: 8px;
}

.parish-archive-card-content > p {
  color: rgba(204, 204, 204);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.parish-archive-card > a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(221, 221, 221);
  border-bottom: solid 1.5px rgba(125, 211, 252, 0.85);
  width: fit-content;
  border-radius: 1px;
  transition: opacity 200ms;
}

.parish-archive-card > a:hover {
  opacity: 0.7;
}

/* Desktop */

@media (min-width: 950px) {
  .parish-archive > header {
    padding: 54px 24px;
  }

  .parish-archive > header > h1 {
    font-size: 44px;
  }

  .parish-archive-card > a {
    font-size: 18px;
  }

  .parish-archive-card-content > span,
  .parish-archive-card-content > p {
    font-size: 18px;
  }

  .parish-archive > section {
    padding: 48px 24px;
    display: flex;
    justify-content: center;
  }

  .parish-archive-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
    gap: 20px;
  }

  .parish-archive-card,
  .parish-archive-no-posts {
    width: 430px;
    min-height: 240px;
    max-height: none;
  }

  .parish-archive-card-content > h2,
  .parish-archive-no-posts > p {
    font-size: 22px;
  }
}
