.parish-archive > section {
  padding: 24px;
  background-color: var(--parish-bg-lightest);
}

.parish-archive-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.parish-archive-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--parish-bg-dark);
  border-bottom: solid 2px var(--parish-accent-colour);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parish-archive-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parish-archive-no-posts {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parish-archive-no-posts > p {
  font-size: 24px;
  font-weight: 500;
  color: var(--parish-text-dark);
}

.parish-archive-card-content > span {
  color: var(--parish-text-muted);
}

.parish-archive-card-content > h2 {
  color: var(--parish-text-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.parish-archive-card-content > h2 {
  margin-top: 8px;
}

.parish-archive-card-content > p {
  color: var(--parish-text-medium);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.parish-archive-card > a,
.parish-content-archive-newsletter-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--parish-text-medium);
  border-bottom: solid 1.5px var(--parish-accent-colour);
  width: fit-content;
  transition: opacity 200ms;
}

.parish-archive-card > a:hover,
.parish-content-archive-newsletter-link:hover {
  opacity: var(--parish-hover-opacity);
}

/* CPTs */

.type-parish_newsletter {
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
}

.parish-content-archive-newsletter-link {
  margin-top: 12px;
}

.type-parish_church_group > .parish-archive-card-content > h2 {
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
  max-width: fit-content;
  font-size: 22px;
  margin-bottom: 6px;
}

.parish-content-archive-group-card-section {
  margin-top: 6px;
}

.parish-content-archive-group-card-section > h3 {
  color: var(--parish-text-medium);
  font-weight: 500;
  font-size: 18px;
}

.parish-content-archive-group-card-section > p {
  color: var(--parish-text-muted);
  font-size: 16px;
}

.parish-staff-photo {
  width: 50%;
  height: auto;
  margin: 12px 0 6px 0;
  align-self: center;
}

.type-parish_staff_member > .parish-archive-card-content {
  text-align: center;
}

.type-parish_staff_member > .parish-archive-card-content > h2 {
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
  font-size: 22px;
  margin-bottom: 6px;
}

.parish-content-archive-staff-card-section {
  margin-top: 6px;
}

.parish-content-archive-staff-card-section > h3 {
  color: var(--parish-text-medium);
  font-weight: 500;
  font-size: 18px;
}

.parish-content-archive-staff-card-section > p {
  color: var(--parish-text-muted);
  font-size: 16px;
}

/* Breakpoint */

@media (min-width: 930px) {
  .parish-archive-card-content > span,
  .parish-archive-card-content > p,
  .parish-archive-card > a,
  .parish-content-archive-newsletter-link {
    font-size: 18px;
  }

  .parish-archive > section {
    padding: 48px 24px;
    display: flex;
    justify-content: center;
  }

  .parish-archive-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
    gap: 20px;
  }

  .parish-archive-card {
    width: 430px;
    min-height: 240px;
    max-height: none;
  }

  .parish-archive-card-content > h2 {
    font-size: 22px;
  }

  /* CPTs */

  .type-parish_newsletter {
    min-height: fit-content;
  }

  .parish-content-archive-newsletter-link {
    margin-top: 24px;
  }

  .type-parish_church_group {
    max-height: fit-content;
  }

  .type-parish_church_group > .parish-archive-card-content > h2 {
    font-size: 23px;
  }

  .parish-content-archive-group-card-section {
    margin-top: 10px;
  }

  .parish-content-archive-group-card-section > h3 {
    font-size: 19px;
  }

  .parish-content-archive-group-card-section > p {
    font-size: 17px;
  }

  .parish-staff-photo {
    margin: 16px 0 10px 0;
  }

  .type-parish_staff_member > .parish-archive-card-content > h2 {
    font-size: 23px;
  }

  .type-parish_staff_member > .parish-archive-card-content > span,
  .parish-content-archive-staff-card-section > p {
    font-size: 17px;
  }

  .parish-content-archive-staff-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .parish-content-archive-staff-card-section > h3 {
    font-size: 19px;
  }

  .parish-content-archive-staff-card-section > p {
    max-width: 90%;
  }
}
