.parish-archive > header {
  background-color: var(--parish-bg-light);
  padding: 48px 24px;
}

.parish-archive > header > h1 {
  color: var(--parish-text-darkest);
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.parish-archive > header > .parish-archive-header-separator {
  background-color: var(--parish-accent-colour);
  height: 2px;
  width: 70%;
  max-width: 320px;
  margin: 16px auto;
}

.parish-archive > header > h2 {
  color: var(--parish-text-darkest);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.parish-archive > section {
  padding: 24px;
  background-color: var(--parish-bg-lightest);
}

.parish-archive-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.parish-archive-card,
.parish-archive-no-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--parish-bg-dark);
  border-bottom: solid 2px var(--parish-accent-colour);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parish-archive-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parish-archive-no-posts {
  text-align: center;
}

.parish-archive-card-content > span {
  color: var(--parish-text-muted);
}

.parish-archive-card-content > h2,
.parish-archive-no-posts > p {
  color: var(--parish-text-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.parish-archive-card-content > h2 {
  margin-top: 8px;
}

.parish-archive-card-content > p {
  color: var(--parish-text-medium);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.parish-archive-card > a {
  text-decoration: none;
  cursor: pointer;
  color: var(--parish-text-medium);
  border-bottom: solid 1.5px var(--parish-accent-colour);
  width: fit-content;
  transition: opacity 200ms;
}

.parish-archive-card > a:hover {
  opacity: var(--parish-hover-opacity);
}

/* Desktop */

@media (min-width: 930px) {
  .parish-archive > header {
    padding: 54px 24px;
  }

  .parish-archive > header > h1 {
    font-size: 48px;
  }

  .parish-archive > header > .parish-archive-header-separator {
    height: 3px;
    max-width: 440px;
    margin: 22px auto;
  }

  .parish-archive > header > h2 {
    font-size: 24px;
  }

  .parish-archive-card > a {
    font-size: 18px;
  }

  .parish-archive-card-content > span,
  .parish-archive-card-content > p {
    font-size: 18px;
  }

  .parish-archive > section {
    padding: 48px 24px;
    display: flex;
    justify-content: center;
  }

  .parish-archive-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
    gap: 20px;
  }

  .parish-archive-card,
  .parish-archive-no-posts {
    width: 430px;
    min-height: 240px;
    max-height: none;
  }

  .parish-archive-card-content > h2,
  .parish-archive-no-posts > p {
    font-size: 22px;
  }
}
