/* Content styles for pages and posts */

.parish-content h1,
.parish-content h2,
.parish-content h3,
.parish-content h4,
.parish-content h5,
.parish-content h6 {
  color: var(--parish-text-darkest);
  font-weight: 600;
  margin: 10px 0;
}

.parish-content img {
  border-bottom: solid 4px var(--parish-accent-colour);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parish-content h1 {
  font-size: 32px;
}

.parish-content h2 {
  font-size: 28px;
}

.parish-content h3 {
  font-size: 24px;
}

.parish-content h4 {
  font-size: 20px;
}

.parish-content h5,
.parish-content h6 {
  font-size: 16px;
}

.parish-content ul,
.parish-content ol,
.parish-content p,
.parish-content blockquote,
.parish-content img {
  margin-bottom: 15px;
}

.parish-content li {
  margin-bottom: 5px;
  margin-left: 20px;
}

.parish-content blockquote {
  border-left: solid 2px var(--parish-accent-colour);
  padding-left: 10px;
}

.parish-content a {
  font-weight: 500;
  color: var(--parish-text-dark);
  text-decoration-color: var(--parish-accent-colour);
  text-decoration-thickness: 2px;
  cursor: pointer;
  transition: opacity 200ms;
  text-underline-offset: 2px;
}

.parish-content a:hover {
  opacity: var(--parish-hover-opacity);
}

/* Breakpoint */

@media (min-width: 780px) {
  .parish-content {
    font-size: 18px;
    color: var(--parish-text-dark);
  }

  .parish-content h1,
  .parish-content h2,
  .parish-content h3,
  .parish-content h4,
  .parish-content h5,
  .parish-content h6 {
    margin: 15px 0;
  }

  .parish-content h1 {
    font-size: 40px;
  }

  .parish-content h2 {
    font-size: 36px;
  }

  .parish-content h3 {
    font-size: 28px;
  }

  .parish-content h4 {
    font-size: 20px;
  }

  .parish-content h5,
  .parish-content h6 {
    font-size: 18px;
  }

  .parish-content ul,
  .parish-content ol,
  .parish-content p,
  .parish-content blockquote,
  .parish-content img {
    margin-bottom: 20px;
  }

  .parish-content ul,
  .parish-content ol {
    margin-left: 25px;
  }

  .parish-content li {
    margin-bottom: 10px;
  }

  .parish-content blockquote {
    border-left: solid 3px var(--parish-accent-colour);
    padding-left: 15px;
  }
}
