.parish-footer {
  background-color: var(--parish-bg-dark);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 18px 22px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.parish-foot-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.parish-foot-identity {
  max-width: 450px;
}

.parish-foot-title-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.parish-foot-title-info > h5 {
  font-size: 22px;
  font-weight: 500;
  color: var(--parish-text-light);
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

.parish-foot-info,
.parish-foot-links-content,
.parish-foot-links-menu-container > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parish-foot-info > h6,
.parish-foot-links-content > h6 {
  font-weight: 500;
  font-size: 16px;
  color: var(--parish-text-light);
}

.parish-foot-info > p {
  font-size: 14px;
  color: var(--parish-text-medium);
}

.parish-foot-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.parish-foot-links-menu-container > ul {
  list-style: none;
}

.parish-foot-links-menu-container > ul > li > a {
  font-size: 14px;
  color: var(--parish-text-medium);
  cursor: pointer;
  text-decoration: none;
  transition: opacity 200ms;
}

.parish-foot-links-menu-container > ul > li > a:hover {
  opacity: var(--parish-hover-opacity);
  text-decoration: underline;
}

.parish-copyright-bar-wrapper-mobile {
  display: block;
}

.parish-copyright-bar-wrapper-desktop {
  display: none;
}

.parish-copyright-bar {
  font-size: 12px;
  color: var(--parish-text-muted);
}

/* Desktop */

@media (min-width: 900px) {
  .parish-copyright-bar-wrapper-mobile {
    display: none;
  }

  .parish-copyright-bar-wrapper-desktop {
    display: block;
  }

  .parish-footer {
    padding: 30px 30px;
  }

  .parish-foot-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-self: center;
    width: 100%;
    min-height: auto;
    max-width: 1150px;
  }

  .parish-foot-identity {
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
  }

  .parish-foot-title-info > h5 {
    font-size: 24px;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  .parish-foot-info,
  .parish-foot-links-content,
  .parish-foot-links-menu-container > ul {
    gap: 10px;
  }

  .parish-foot-info > h6,
  .parish-foot-links-content > h6 {
    font-size: 18px;
  }

  .parish-foot-info > p {
    font-size: 16px;
  }

  .parish-foot-links {
    align-self: center;
    gap: 48px;
  }

  .parish-foot-links-menu-container > ul > li > a {
    font-size: 16px;
  }

  .parish-copyright-bar {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .parish-footer {
    padding: 40px 0;
  }
}
