/* Hero */

.parish-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 24px 48px 24px;
  display: flex;
  justify-content: center;
}

.parish-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.parish-hero > header {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.parish-hero > * {
  z-index: 10;
}

.parish-hero > header > h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  color: var(--parish-text-lightest);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.parish-hero > header > div > h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--parish-text-light);
}

.parish-description-container {
  width: fit-content;
  background-color: rgba(38, 38, 38, 0.7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  border-bottom: solid 2px var(--parish-accent-colour);
  max-width: 450px;
}

/* Latest Announcements */

.parish-announcements {
  background-color: var(--parish-bg-lightest);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 48px 24px 48px 24px;
}

.parish-announcements > h3,
.parish-services-section > h3 {
  font-size: 38px;
  text-align: center;
  font-weight: 600;
  color: var(--parish-text-darkest);
}

.parish-announcements-content,
.parish-services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.parish-see-more-link,
.parish-announcement-card > a {
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 1.5px var(--parish-accent-colour);
  width: fit-content;
  transition: opacity 200ms;
}

.parish-see-more-link:hover,
.parish-announcement-card > a:hover {
  opacity: var(--parish-hover-opacity);
}

.parish-see-more-link {
  color: var(--parish-text-dark);
  font-weight: 500;
  font-size: 18px;
}

.parish-announcement-card > a {
  color: var(--parish-text-medium);
}

.parish-latest-announcements,
.parish-service-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.parish-announcement-card,
.parish-no-announcements,
.parish-service-card {
  max-height: fit-content;
  width: 100%;
  max-width: 650px;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--parish-bg-dark);
  border-bottom: solid 2px var(--parish-accent-colour);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parish-announcement-card > span {
  color: var(--parish-text-muted);
}

.parish-announcement-card > h4,
.parish-no-announcements > p {
  color: var(--parish-text-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.parish-announcement-card > h4 {
  margin-top: 8px;
}

.parish-announcement-card > p {
  color: var(--parish-text-medium);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.parish-no-announcements {
  text-align: center;
}

/* Services */

.parish-services-section {
  background-color: var(--parish-bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 48px 24px 48px 24px;
}

.parish-service-card > h4 {
  color: var(--parish-text-light);
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  margin: 4px 0 10px 0;
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
}

.parish-content-service-card-section {
  margin-bottom: 6px;
}

.parish-content-service-card-section > h5 {
  color: var(--parish-text-medium);
  font-weight: 500;
  font-size: 18px;
}

.parish-content-service-card-section > p {
  color: var(--parish-text-muted);
}

/* Desktop */

@media (min-width: 950px) {
  .parish-hero {
    padding: 92px 48px 92px 48px;
    min-height: 500px;
    align-items: center;
  }

  .parish-hero > header > h1 {
    font-size: 64px;
  }

  .parish-hero > header > div > h2 {
    font-size: 18px;
  }

  /* Latest Announcements */

  .parish-announcements,
  .parish-services-section {
    gap: 54px;
    padding: 54px 24px 54px 24px;
  }

  .parish-announcements > h3,
  .parish-services-section > h3 {
    font-size: 44px;
  }

  .parish-announcements-content,
  .parish-services-content {
    gap: 42px;
  }

  .parish-see-more-link {
    font-size: 20px;
  }

  .parish-announcement-card > a,
  .parish-announcement-card > span,
  .parish-announcement-card > p,
  .parish-content-service-card-section > p {
    font-size: 18px;
  }

  .parish-latest-announcements,
  .parish-service-cards {
    flex-direction: row;
    gap: 20px;
  }

  .parish-announcement-card,
  .parish-no-announcements,
  .parish-service-card {
    width: 375px;
  }

  .parish-announcement-card > h4,
  .parish-no-announcements > p {
    font-size: 22px;
  }

  /* Services */

  .parish-service-card > h4 {
    font-size: 24px;
    margin: 4px 0 0 0;
  }

  .parish-content-service-card-section {
    margin: 0;
  }

  .parish-service-card {
    display: flex;
    gap: 20px;
  }

  .parish-content-service-card-section > h5 {
    font-size: 20px;
  }
}
