.parish-content-container {
  padding-top: 84px; /* Taking into account topbar nav height */
}

.parish-menu-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 200ms ease;
  z-index: 900;
}

.parish-menu-backdrop.menu-open {
  opacity: 1;
}

.parish-navbar {
  font-size: 18px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.parish-navbar-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--parish-bg-dark);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-logo {
  display: flex;
}

.parish-navbar-menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
}

.parish-navbar-menu-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition:
    opacity 200ms ease,
    transform 200ms ease-in-out;
}

.parish-menu-icon-closed {
  opacity: 1;
  transform: rotate(0deg);
}

.parish-menu-icon-opened {
  opacity: 0;
  transform: rotate(-90deg);
}

.parish-navbar-menu-icon.menu-open > .parish-menu-icon-closed {
  opacity: 0;
  transform: rotate(90deg);
}

.parish-navbar-menu-icon.menu-open > .parish-menu-icon-opened {
  opacity: 1;
  transform: rotate(0deg);
}

.parish-navbar-menu-container {
  background-color: var(--parish-bg-dark);
  padding: 0 18px 18px 18px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition:
    opacity 200ms ease,
    transform 200ms ease-out;
}

.parish-navbar-menu-container.menu-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.parish-navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.parish-navbar-menu > li > a {
  color: var(--parish-text-medium);
  text-decoration: none;
  transition: 200ms;
}

.parish-navbar-menu > li > a:hover {
  opacity: var(--parish-hover-opacity);
}

.parish-navbar-menu > li.current_page_item > a {
  text-decoration: underline;
  text-decoration-color: var(--parish-accent-colour);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

/* Desktop */

@media (min-width: 950px) {
  .parish-menu-backdrop {
    display: none;
  }

  .parish-content-container {
    padding: 0;
  }

  .parish-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--parish-bg-dark);
  }

  .parish-navbar-topbar {
    padding: 14px 0 0 0;
    background-color: none;
    box-shadow: none;
  }

  .parish-navbar-menu-icon {
    display: none;
  }

  .parish-navbar-menu-container {
    background-color: none;
    padding: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .parish-navbar-menu-container.menu-open {
    box-shadow: none;
  }

  .parish-navbar-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
    row-gap: 18px;
    max-width: 1186px;
    justify-content: center;
    padding: 0 36px;
  }
}
