.parish-contact-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--parish-bg-light);
}

.parish-contact-section > iframe,
.parish-contact-form > form {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.parish-contact-form,
.parish-contact-section > iframe {
  width: 100%;
  max-width: 750px;
}

.parish-contact-form > h2 {
  color: var(--parish-text-darkest);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
}

.parish-contact-form > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--parish-bg-dark);
}

.parish-contact-form-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.parish-contact-form > form > button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--parish-text-dark);
  background-color: var(--parish-bg-light);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: opacity 200ms;
}

.parish-contact-form > form > button:hover {
  opacity: var(--parish-hover-opacity);
}

.parish-contact-input-field,
.parish-contact-textarea-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.parish-contact-input-field > label,
.parish-contact-textarea-field > label {
  color: var(--parish-text-medium);
}

.parish-contact-textarea-field > textarea {
  min-height: 150px;
  resize: none;
}

.parish-contact-input-field > input,
.parish-contact-textarea-field > textarea {
  color: var(--parish-text-light);
  font-family: inherit;
  padding: 8px 12px;
  background: none;
  border: none;
  outline: none;
  background-color: var(--parish-text-dark);
  transition: background-color 200ms;
}

.parish-contact-input-field > input:focus,
.parish-contact-textarea-field > textarea:focus,
.parish-contact-input-field > input:hover,
.parish-contact-textarea-field > textarea:hover {
  background-color: #363636;
}

.parish-contact-input-field > input::placeholder,
.parish-contact-textarea-field > textarea::placeholder {
  color: var(--parish-text-muted);
}

.parish-contact-form-success-msg,
.parish-contact-form-err-msg {
  text-align: center;
  font-weight: 500;
}

.parish-contact-form-success-msg {
  color: #4ade80;
}

.parish-contact-form-err-msg {
  color: #f87171;
}

/* Breakpoint */

@media (min-width: 780px) {
  .parish-contact-section {
    align-items: center;
    padding: 48px 0;
  }

  .parish-contact-form > h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .parish-contact-form > form,
  .parish-contact-section {
    gap: 48px;
  }

  .parish-contact-form > form {
    padding: 36px;
  }

  .parish-contact-form-col {
    gap: 24px;
  }

  .parish-contact-form > form > button,
  .parish-contact-form > form {
    font-size: 18px;
  }

  .parish-contact-input-field > input,
  .parish-contact-textarea-field > textarea,
  .parish-contact-form > form > button {
    padding: 10px 14px;
  }

  .parish-contact-input-field,
  .parish-contact-textarea-field {
    gap: 12px;
  }

  .parish-contact-textarea-field > textarea {
    min-height: 175px;
  }

  .parish-contact-input-field > input,
  .parish-contact-textarea-field > textarea {
    font-size: 16px;
  }

  .parish-contact-input-field > input::placeholder,
  .parish-contact-textarea-field > textarea::placeholder {
    font-size: 15px;
  }

  .parish-contact-form-success-msg,
  .parish-contact-form-err-msg {
    font-size: 18px;
  }
}
