.parish-page-main {
  background-color: var(--parish-bg-lightest);
}

.parish-page-content {
  padding: 24px;
}

/* Tablet/Desktop */

@media (min-width: 780px) {
  .parish-page-content {
    max-width: 750px;
    padding: 48px 0;
    margin: 0 auto;
  }
}
