.parish-page-main > header {
  text-align: center;
  padding: 48px 24px;
  background-color: rgb(250, 250, 250);
}

.parish-page-content {
  padding: 24px;
  color: rgb(47, 47, 47);
}

/* Tablet/Desktop */

@media (min-width: 780px) {
  .parish-page-main > header {
    padding: 54px 24px;
  }

  .parish-page-content {
    max-width: 750px;
    margin: 0 auto;
    align-self: center;
    padding: 48px 0;
    font-size: 18px;
  }
}
