.parish-page-main {
  background-color: var(--parish-bg-lightest);
}

.parish-page-main > header {
  text-align: center;
  padding: 48px 24px;
  background-color: var(--parish-bg-light);
}

.parish-page-content {
  padding: 24px;
  color: var(--parish-text-dark);
}

/* Tablet/Desktop */

@media (min-width: 780px) {
  .parish-page-main > header {
    padding: 54px 24px;
  }

  .parish-page-content {
    max-width: 750px;
    margin: 0 auto;
    align-self: center;
    padding: 48px 0;
    font-size: 18px;
  }
}
