nav.pagination {
  background-color: var(--parish-text-light);
  padding: 20px 20px 18px 20px;
  color: var(--parish-text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.pagination > .nav-links {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 18px;
}

nav.pagination > .nav-links > .page-numbers {
  cursor: pointer;
  text-decoration: none;
  color: var(--parish-text-dark);
  border-bottom: solid 2px rgba(0, 0, 0, 0);
}

nav.pagination > .nav-links > .current {
  transition: opacity 200ms;
  border-bottom: solid 2px var(--parish-accent-colour);
}

nav.pagination > .nav-links > .page-numbers:hover {
  opacity: var(--parish-hover-opacity);
}

nav.pagination > .nav-links > .prev,
nav.pagination > .nav-links > .next {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

nav.pagination > .nav-links > .prev > svg {
  margin-right: 4px;
}

nav.pagination > .nav-links > .next > svg {
  margin-left: 4px;
}

/* Desktop */

@media (min-width: 1080px) {
  nav.pagination {
    font-size: 20px;
  }
}
