nav.pagination {
  background-color: rgb(250, 250, 250);
  padding: 20px 20px 18px 20px;
  color: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.pagination > .nav-links {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 18px;
}

nav.pagination > .nav-links > .page-numbers {
  cursor: pointer;
  text-decoration: none;
  color: rgb(47, 47, 47);
  border-bottom: solid 2px rgba(125, 211, 252, 0);
}

nav.pagination > .nav-links > .current {
  transition: opacity 200ms;
  border-bottom: solid 2px rgba(125, 211, 252, 0.85);
}

nav.pagination > .nav-links > .page-numbers:hover {
  opacity: 0.7;
}

nav.pagination > .nav-links > .prev,
nav.pagination > .nav-links > .next {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

nav.pagination > .nav-links > .prev > svg {
  margin-right: 4px;
}

nav.pagination > .nav-links > .next > svg {
  margin-left: 4px;
}

/* Desktop */

@media (min-width: 1080px) {
  nav.pagination {
    font-size: 20px;
  }
}
