.parish-single-post {
  background-color: var(--parish-bg-lightest);
}

.parish-single-post > header {
  background-color: var(--parish-bg-light);
}

.parish-sp-header-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.parish-sp-thumb {
  width: 100%;
  height: auto;
}

.parish-sp-date-posted {
  color: var(--parish-text-muted);
}

.parish-sp-content {
  padding: 24px;
}

/* Tablet/Desktop */

@media (min-width: 780px) {
  .parish-sp-header-content,
  .parish-sp-content {
    max-width: 750px;
    padding: 48px 0;
    margin: 0 auto;
  }

  .parish-sp-date-posted {
    font-size: 18px;
  }
}
