.parish-single-post {
  background-color: var(--parish-bg-lightest);
}

.parish-single-post > header {
  background-color: var(--parish-accent-colour);
}

.parish-sp-header-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.parish-sp-thumb {
  width: 100%;
  height: auto;
}

.parish-sp-date-posted {
  color: var(--parish-text-dark);
}

.parish-sp-content {
  padding: 24px;
}

.parish-sp-header-content > h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--parish-text-darkest);
  text-align: center;
}

/* Breakpoint */

@media (min-width: 780px) {
  .parish-sp-header-content,
  .parish-sp-content {
    max-width: 750px;
    padding: 48px 0;
    margin: 0 auto;
  }

  .parish-sp-date-posted {
    font-size: 18px;
  }

  .parish-sp-header-content > h1 {
    font-size: 48px;
  }
}
