.parish-page-header {
  padding: 48px 24px;
  background-color: var(--parish-accent-colour);
}

.parish-page-header > h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--parish-text-darkest);
}

@media (min-width: 780px) {
  .parish-page-header {
    padding: 54px 0;
  }

  .parish-page-header > h1 {
    font-size: 48px;
    max-width: 750px;
    margin: 0 auto;
  }
}
